<head>
    <%- include('../partials/head'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  
  
  <style>
    .top-buffer {
      margin-top: 60px;
    }
  </style>
  
  <body class="container">
    <header>
      <%- include('../partials/header'); %>
    </header>
  
    <main class="container pt-5">
      <div class="p-5 mb-4 bg-white rounded-3 top-buffer">
        <h2 class="text-center pb-2">
          Orders
        </h2>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Create New Order
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Create New Order</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="row g-3">
                  <div class="col-md-4">
                    <label for="inputState" class="form-label">Select Customer</label>
                    <select class="form-select" name="customers" id="customers">
                      <option value="" disabled selected> </option>
                      <% customers.forEach(function(customers) { %>              
                      <option value=<%=customers.customer_id %>><%=customers.business_name %></option>
                      <% }); %>
                  </select>
                  </div>
                  <div class="col-md-6">
                      <label for="lastname" class="form-label">Product</label>
                      <input type="text" class="form-control" id="lastname" placeholder="Ex. Mon-Sat 10-4PM, Sun 11-2PM">
                    </div>  
                    <div class="col-md-6">
                      <label for="inputRole" class="form-label">Vendor Account Number</label>                  
                      <input type="text" class="form-control" id="inputAccNum">  
                    </div>
                 
                  <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
              
                  </div>
                  <div class="col-md-6">
                    <label for="lastname" class="form-label">Phone</label>
                    <input type="phone" class="form-control" id="lastname" placeholder="000-000-0000">
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                  </div>
  
                  <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select class="form-select" name="states" id="states">
                      <option value="" disabled selected> </option>
                      <% states.forEach(function(states) { %>              
                      <option value=<%=states.state_code_id %>><%=states.state %></option>
                      <% }); %>
                  </select>
                  </div>
                  <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                  
                 
                  
                  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create New Order</button>
                </form>
              </div>
            </div>
          </div>
        </div>
  
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Order #</th>
              <th scope="col">Order Date</th>
              <th scope="col">Delivery Date</th>
              <th scope="col">Total</th>
              
            </tr>
          </thead>
          
        </table>
  
  
  
      </div>
  
    </main>
    <script>
      $('#customers').on('click', function() {
         var business_name = $(this).val();
         var customer_id = get_customer_id(business_name);
         get_customer_email(customer_id);
      });

      function get_customer_id(business_name) {
        axios.get('/getcustomerid/' + business_name)
          .then(function(response) {
           console.log(business_name)
         })
       .catch(function(error) {
           console.log(error);
       });
     }
 
      function get_customer_email(customer_id) {
        axios.get('/customerorderinfo/' + customer_id)
          .then(function(response) {
           console.log(customer_id)
           $('#email').val(response.data.email);
         })
       .catch(function(error) {
           console.log(error);
       });
     }
      </script> 
  </body>