<head>
  <%- include('../partials/head'); %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
</head>


<style>
  .top-buffer {
    margin-top: 60px;
  }
</style>

<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>

  <main class="container pt-5">
    <div class="p-5 mb-4 bg-white rounded-3 top-buffer">
      <h2 class="text-center pb-2">
        Employee Roles
      </h2>
      <!-- https://stackoverflow.com/questions/7289916/how-would-you-check-for-undefined-property-in-ejs-for-node-js -->
      <% if (typeof success !== 'undefined') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success %>
          <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create New Role
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Create New Role</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/roles/add" method="post" class="row g-3">
                
                <div class="col-md-6">
                  <label for="firstname" class="form-label">Role Name</label>
                  <input type="text" class="form-control" name="role_name" id="role_name" placeholder="Ex. Baker">
                </div>
                <div>
                  <label for="lastname" class="form-label">Role Description</label>
                  <textarea class="form-control" rows="5" id="role_description" name="role_description"></textarea>
                </div>
                <div class="col-md-6">
                  <label for="inputRole" class="form-label">Role Status</label>
                  <select id="role_status" name="role_status" id="role_status" class="form-select">
                    <option selected>Active</option>
                    <option>Inactive</option>
                  </select>
                </div>




            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create New Role</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Role Name</th>
            <th scope="col">Role Description</th>
            <th scope="col">Status</th>


          </tr>
        </thead>
        <tbody>
          <% roles_data.forEach(function(roles_data) { %>
            <tr>
              <td>
                <a>
                  <%= roles_data.role_id%>
                </a>
              </td>
              <td>
                <a>
                  <%= roles_data.role_name%>
                </a>
              </td>
              <td>
                <a>
                  <%= roles_data.role_description%>
                </a>
              </td>
              <td>
                <a>
                  <%= roles_data.role_status%>
                </a>
              </td>
              <td>
                <a style="text-decoration:none" href="/rolesinfo/<%= roles_data.role_id%>""> Edit</a>
                </td>
                
  
              </tr>
              <% }); %>
  
          </tbody>
        </table>

  
      </div>

      <% if (typeof successMsg !== 'undefined') { %>
        <div class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">Success!</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <%= successMsg %>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('.toast').toast('show');
            });
        </script>
      <% } %>
      <footer>
        <%- include('../partials/footer'); %>
    </footer>
    </main>
  </body>