<head>
  <%- include('../partials/head'); %>
</head>


<style>
  .top-buffer {
    margin-top: 60px;
  }
</style>

<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>

  <main class="container pt-5">
    <div class="p-5 mb-4 bg-white rounded-3 top-buffer">
      <h2 class="text-center pb-2">
        Vendors
      </h2>

      <% if (typeof success !== 'undefined') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create New Vendor
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Create New Vendor</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/vendors/add" method="post" class="row g-3">

                <div class="col-md-6">
                  <label for="firstname" class="form-label">Vendor Name</label>
                  <input type="text" class="form-control" name="vendor_name" id="vendor_name"
                    placeholder="Ex. Local Wholesaler">
                </div>
                <div class="col-md-6">
                  <label for="lastname" class="form-label">Vendor Hours</label>
                  <input class="form-control" name="vendor_hrs" id="vendor_hrs"
                    placeholder="Ex. Mon-Sat 10-4PM, Sun 11-2PM" type="text">
                </div>
                <div class="col-md-6">
                  <label for="inputRole" class="form-label">Vendor Account Number</label>
                  <input class="form-control" name="vendor_account_number" id="vendor_account_number" type="text">
                </div>
                <div class="col-md-6">
                  <label for="inputstatus" class="form-label">Status</label>
                  <select id="vendor_status" name="vendor_status" class="form-select">
                    <option selected>Active</option>
                    <option>Inactive</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label for="email" class="form-label">Email</label>
                  <input class="form-control" placeholder="example@email.com" name="email" id="ex1" type="text">
                </div>
                <div class="col-md-6">
                  <label for="lastname" class="form-label">Phone</label>
                  <input type="phone" class="form-control" name="phone" id="phone" placeholder="000-000-0000">
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input type="text" class="form-control" name="street" id="street" placeholder="1234 Main St">
                </div>

                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input type="text" class="form-control" name="city" id="city">
                </div>
                <div class="col-md-4">
                  <label for="inputState" class="form-label">State</label>
                  <select class="form-select" name="states" id="states">
                    <% states.forEach(function(states) { %>
                      <option value=<%=states.state_code_id %>><%=states.state %>
                      </option>
                      <% }); %>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input type="text" class="form-control" name="zipcode" id="zipcode">
                </div>




            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create New Vendor</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Vendor Name</th>
            <th scope="col">Vendor Hours</th>
            <th scope="col">Account Number</th>
            <th scope="col">Vendor Status</th>

          </tr>
        </thead>
        <tbody>
          <% vendor_data.forEach(function(vendor_data) { %>
            <tr>
              <td>
                <a style="text-decoration:none" href="/vendinfo/<%= vendor_data.vendor_id%>">
                  <%= vendor_data.vendor_id%>
                </a>
              </td>
              <td>
                <a style="text-decoration:none" href="/vendinfo/<%= vendor_data.vendor_id%>">
                  <%= vendor_data.vendor_name%>
                </a>
              </td>
              <td>
                <a>
                  <%= vendor_data.vendor_hrs%>
                </a>
              </td>
              <td>
                <a>
                  <%= vendor_data.vendor_account_number%>
                </a>
              </td>
              <td>
                <a>
                  <%= vendor_data.vendor_status%>
                </a>
              </td>

            </tr>
            <% }); %>

        </tbody>
      </table>



    </div>
    <footer>
      <%- include('../partials/footer'); %>
  </footer>
  </main>
</body>